.foodList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 54px;
    justify-content: center;
}
.foodListMain {
    background-color: #fffafa;
    height: 100%;
}
/* .food {
    width: 371px;
    height: auto;
    border-radius: 10px;
} */

@media (min-width: 660px) {
    .foodList {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }
    .food {
        position: relative;
        width: auto;
    }
}
@media (min-width: 1376px) {
    .foodList {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }
    .foodListMain {
        margin-left: 300px;
    }
    .food {
        position: relative;
        width: auto;
    }
}