@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    color: white;
    font-family: 'inter', sans-serif;
}
@media (min-width: 1376px) {
    body {
        padding: 0px;
        max-width: 1728px;
        margin: 0 auto;
    }
}