@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    max-width: 1728px;
    margin: 0 auto;
    color: white;
    font-family: 'inter', sans-serif;
}
/* @media (min-width: 1014px) {
    body {
        padding: 0px;

    }
} */